body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.room {
  color: #f00;
  font-weight: bold;
}

.user {
  color: #00f;
  font-weight: bold;
}